.eg-slideshow {
  .slide-TheDarkPast {
    background-image: url('../assets/dark-past.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .slide-ThePresent {
    background-image: url('../assets/the-present.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .slide-TheBrightFuture {
    background-image: url('../assets/the-future.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
